@page "/about"

<div>
    <marquee behavior="scroll" direction="up">
        <style>

            body {
                background-image: url('https://www.just.edu.jo/Units_and_offices/Offices/IRO/PublishingImages/Pages/contactus/about_us.gif');
                background-repeat: no-repeat;
                float: inline-end;
                background-attachment: fixed;
                background-size: contain;
            }
        </style>
    </marquee>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div>

            <font face="Copperplate" size="5px" color="black">
                DoccPlus is a smart appointment booking system that provides patients or any user an easy way of booking a doctor's appointment online.
                This application not only provides the patients an ease but also gives an oppurtunity to the local certified doctors to use their skill
                as a go-to-home doctor! The speciality of DoccPlus is that the appointments that are booked take place in the comfort of your home.
                Thus, if you are someone who has conveyance issues, are disabled or simply don't like waiting in long lines in waiting rooms in your doctor's
                clinic to get yourself treated, you are at the right place!
            </font>
        </div>
</div>